html,
body {
  height: 100%;
  margin: 0;
}

.notes {
  display: flex;
  height: 100%;
}

.notes * {
  font-family: sans-serif;
}

.notes_main {
  border-right: 2px dashed #dddddd;
  flex-shrink: 0;
  overflow-y: auto;
  padding: 1em;
  width: 300px;
}

.notes_add {
  background: #009578;
  border: none;
  border-radius: 7px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.75em 0;
  width: 100%;
}

.notes__add:hover,
.notes__arrow-down:hover,
.notes__arrow-up:hover,
.notes__delete-icon:hover {
  background: #00af8c;
}

.notes_list-item {
  cursor: pointer;
  margin-bottom: 0.5em;
}

.selected {
  background: #eeeeee;
  border-radius: 7px;
  font-weight: bold;
}

.notes_small-title {
  padding: 10px;
  font-size: 1.2em;
}

.notes__preview {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
}

.notes_title,
.notes_body {
  border: none;
  outline: none;
  width: 100%;
}

.notes__title {
  font-size: 3em;
  font-weight: bold;
}

.notes__body {
  flex-grow: 1;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 2em;
  resize: none;
}
.notes__list-item--button-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}
.notes__arrow-up,
.notes__arrow-down,
.notes__delete-icon {
    
  font-size: 16px;
  border: 2px solid #009578;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.notes__arrow-up {
  margin-right: 5px;
  align-items: flex-end;
}

.notes__arrow-down {
  margin-right: 5px;
  align-items: flex-end;
}
.notes__delete-icon {
  margin-right: 5px;
  align-items: flex-end;
}
